
button{
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: #5cacba;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #315a61;
}

.create-project h2{
    color: white;
}

.project-details h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.new-project{
    margin-bottom: 15px;
}

.new-project label{
    color: white;
    margin-bottom: 5px;
    display: block;
}


.new-project input{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    outline: none;
}

.new-project input:focus{
    border: 2px solid #ffffff;
}


.account-creation h2{
    color:white;
}

.account-creation {
    background: linear-gradient(135deg, #90cbd5, #afdfc5);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
}


.new-account{
    margin-bottom: 15px;
}

.new-account label{
    color: white;
    margin-bottom: 5px;
    display: block;
}


.new-account input{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    outline: none;
}

.new-account input:focus{
    border: 2px solid #ffffff;
}


